<template>
  <div id="app" class="container-fluid">

    <div v-if="isSavedImg">
      <div class="row">
        <div class="col-lg-2" v-for="(value, index) of data" :key="index" style="margin-bottom: 20px;">
          <div class="card">
            <a :href="'https://www.instagram.com/p/' + value.node.shortcode" target="_blank">
              <img :src="value.node.display_url" class="card-img-top">
            </a>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <input type="checkbox" :value="index" v-model="checked_img">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" @click="savePost()" style="margin-top: 20px; margin-bottom: 30px;">Enregistrer les posts</button>
      <button class="btn btn-danger" @click="resetPost()" style="margin-top: 20px; margin-bottom: 30px; margin-left: 10px;">Reset</button>
    </div>

    <div v-else>
      <button class="btn btn-primary float-lg-rigth" @click="backToPost()" style="margin-top: 30px; margin-bottom: 20px;">Edit</button>
      <div class="post follow-us-col">
        <div v-for="index of saved_img" :key="index" style="margin-bottom: 30px;">
          <a :href="'https://www.instagram.com/p/' + data[index].node.shortcode" target="_blank" rel="noopener">
            <picture>
              <img :src="data[index].node.display_url" class="img-fluid" width="320px" height="320px" style="margin-right: 20px;">
            </picture>
          </a>
        </div>
      </div>
      
      <div>
        <div class="form-group">
          <label for="hashtagForm" style="margin-right: 10px"><h1>Hashtag</h1></label>
          <input type="text" v-model="searchHastag" id="hashtagForm" placeholder="#" class="form-control" width="50%">
        </div>
        <button class="btn btn-primary" @click="searchingHastag()" style="margin-left: 10px; margin-bottom: 20px;">Rechercher</button>

        <div v-if="isSearchedHastag">
          <div class="row">
            <div class="col-lg-2" v-for="(hashPost, index) of hashtag" :key="index" style="margin-bottom: 20px;">
              <div class="card">
                <a :href="'https://www.instagram.com/p/' + hashPost.node.shortcode" target="_blank">
                  <img :src="hashPost.node.display_url" class="img-fluid" width="320px" height="auto" style="margin-right: 20px;">
                </a>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>

  </div>         
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'app',
    data () {
      return {
        data: [],
        hashtag: [],
        checked_img: [],
        saved_img: [],
        isSavedImg: false,
        searchHastag: "",
        isSearchedHastag: false
      }
    },
    created () {
      axios({
        method: 'GET',
        url: "https://www.instagram.com/iomedia?__a=1"
      })
      .then((response) => {
        // console.log(response.data.graphql.user.edge_owner_to_timeline_media.edges);
        this.data = response.data.graphql.user.edge_owner_to_timeline_media.edges;
      });
    },
    methods: {
      savePost () {
        this.saved_img = this.checked_img
        this.isSavedImg = false

        // var formdata = new FormData();
        // formdata.append('name', 'jeremy');
        // formdata.append('email', 'gfeller');

        // axios.post('api.php', {
        //   msg : formdata
        // })
        // .then(function(response){console.log(response)})
        // .error(function(err){console.log(err)})
      },
      backToPost() {
        this.isSavedImg = true
      },
      resetPost() {
        this.checked_img = [];
      },
      searchingHastag () {
        axios({
          method: 'GET',
          url: "https://www.instagram.com/explore/tags/" + this.searchHastag + "?__a=1"
        })
        .then((response) => {
          this.hashtag = response.data.graphql.hashtag.edge_hashtag_to_top_posts.edges
          this.isSearchedHastag = true
        });
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .post  {
    display: flex;
    align-content: flex-start;
    margin-top: 20px;
  }
</style>
